body{
    text-align: center !important;
}

/*aspectos generales: bordes y color de fondo de calculadora*/

.calculadora {
    border: 3px blue ridge;
    width: 250px;
    text-align: center;
    background-color: yellow;
}


/*pantalla de visualizacion: bordes, posicion, color de fondo, estilo letra.*/

#textopantalla {
    width: 185px;
    border: 2px black solid;
    text-align: right;
    position: relative;
    left: 23px;
    padding: 0px 5px;
    background-color: white;
    font-family: "courier new";
    overflow: hidden;
    background-color: green;
}


/*botones normales: anchura y margen*/

.calculadora [type=button] {
    width: 35px;
    padding: 0;
    background-color: white;
}


/*botones especiales*/

.calculadora input.largo {
    color: red;
    width: 60px;
    background-color: skyblue;
}
